@if(!person) {
    <div class = "alert alert-danger text-center">
        No person details found!
    </div>
} @else {
    <div class = "container">
        <table class = "table table-bordered w-60">
            <caption class = "caption-top fw-bold bg-primary text-light text-center">
                Person Details
            </caption>
            <tr>
                <td class = "fw-semibold text-end">First name</td>
                <td class = "ps-2">{{person.givenName}}</td>
            </tr>
            <tr>
                <td class = "fw-semibold text-end">Last name</td>
                <td class = "ps-2">{{person.surName}}</td>
            </tr>
            <tr>
                <td class = "fw-semibold text-end">Age</td>
                <td class = "ps-2">{{person.age}}</td>
            </tr>
            <tr>
                <td class = "fw-semibold text-end">Education</td>
                <td class = "ps-2">{{person.education}}</td>
            </tr>
            <tr>
                <td class = "fw-semibold text-end">Education</td>
                <td class = "ps-2">{{person.education}}</td>
            </tr>
            <tr>
                <td class = "fw-semibold text-end">Education</td>
                <td class = "ps-2">{{person.education}}</td>
            </tr>
        </table>
    </div>
}
