
<div class = "container">

    <div class = "d-flex flex-column gap-2">
        <nav class = "navbar navbar-dark bg-primary justify-content-center">
            <a role = "button" class = "navbar-brand ms-3 fs-1" routerLink = "">CF5 - Angular</a>
        </nav>

        <div class = "d-flex flex-row gap-2">
            <!-- <div class = "d-flex flex-column text-nowrap bg-light p-2">
                <span role = "button" routerLink = "component-input-example">Component Input [example]</span>
                <span role = "button" routerLink = "for-directive">{{"for"}} Directive [example]</span>
                <span role = "button" routerLink = "event-bind-example">Event Binding [example]</span>
            </div> -->
            <app-list-group-menu></app-list-group-menu>
            <div class = "flex-group-1 p-2 text-nowrap">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>